body{
    padding: 0;
    margin: 0;
}
.menu{
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    opacity: 0.8;
}
.menu a{
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100px;
    padding: 20px 40px;
    font-weight: lighter;
}
.menu a:hover{
    background-color: #ccc;
}
.header{
    text-align: center;
    background-color: black;
    color: white;
    padding: 200px 0;
    background-image: url(assets/space.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 58px;
    background-attachment: fixed;
}
#about-me{
    max-width: 1200px;
    height: 350px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: justify;
}
#about-me img{
    width: 300px;
    float: right;
    margin: 30px;
    margin-top: 0;
}
#about-me h2{
    text-align: center;
}
.header a{
    padding: 12px 24px;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}
.header a:hover{
    background-color: #b1b1b2;
}
.header p{
    margin: 45px 0;
}
#content{
    margin-left: 15%;
    margin-right: 13%;
    margin-top: 5px;
    padding: 7px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
img{
    width: 100%;
    vertical-align: top; 
}
.first{
    /* display: inline-block; 
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;*/
    background-color: aliceblue;
    width: 25%;
    height: 300px;
    border: 4px black solid;
    border-left-width: 20px;
    border-right-style: double;
    margin-left: 2%;
    padding: 5px 10px;
}
.first a{
    text-decoration: none;
    color: hotpink;
    background-color: rgb(37, 33, 7);
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
}
.first a:hover{
    background-color: lightblue;
    color: black;
}
.second{
    /* display: inline-block; 
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;*/
    background-color: aliceblue;
    width: 25%;
    height: 300px;
    border: 4px rgb(97, 5, 116) solid;
    border-left-width: 20px;
    border-right-style: double;
    margin-top: 1%;
    margin-left: 2%;
    padding: 5px 10px;
}
.second a{
    text-decoration: none;
    color: rgb(121, 241, 8);
    background-color: rgb(40, 2, 49);
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 20px;
}
.second a:hover{
    background-color: rgb(178, 218, 3);
    color: rgb(85, 0, 33);
}
#contact{
    background-color: #f1f1f1;
    text-align: center;
    padding: 40px 0;
}
.contact-address{
    background-image: url(assets/address.png);
}
.contact-phone{
    background-image: url(assets/phone.png);
}
.contact-mail{
    background-image: url(assets/email.png);
}
.contact-info{
    text-align: left;
    padding-left: 30px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    margin-left: 5%;
}
#contact input{
    padding: 8px;
    width: 90%;
}
.send button{
    background-color: black;
    color: white;
    height: 35px;
    border-radius: 9px;
}
.send button:hover{
    background-color: #f1f1f1;
    color: black;
}
.footer {
    width: 100%;
    background-color: black;
    color: white;
}
